---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Mario Sánchez Colmenero. Entré en el mundo del desarrollo en
      2022, gracias a mi hermano. Recientemente he finalizado mi <strong
        >formación profesional en desarrollo de aplicaciones web</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >conseguir la nota máxima en el TFC de mi promoción</strong
      >. Constaba de una web y una aplicación móvil de soporte para una campaña
      de lucha contra la ELA .
    </p>

    <p>
      Como desarrollador de software, <strong
        >busco ayudar a las personas para llevar sus negocios un paso más allá y
        acompañarlos en su camino hacia la digitalización</strong
      >. Mi objetivo es acabar con la desinformación y desconocimiento de este
      complejo sector.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/aboutMe.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
